<div class="about-content-main">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div>
        <img src="../../../assets/img/rick-morty.jpg" alt="">
    </div> 
    <div class="about-contenedor">
        <div class="about-contenedor-item">
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam voluptate consequuntur eaque earum quidem
                voluptatibus ex aliquam corporis nulla sequi nam sed, eligendi molestias, sapiente consectetur totam.
                Molestias, assumenda expedita!
                Omnis magni nisi perspiciatis, beatae cumque assumenda ullam quod, velit officia accusantium libero
                deleniti eius vero mollitia. Tenetur consequatur facere, recusandae esse porro, quis perspiciatis libero
                cumque quae temporibus quidem?
                Eveniet nisi magni reiciendis dolores possimus totam minus alias quae ipsa tempore? Ipsum quibusdam et
                eaque aut ullam eveniet porro illo quasi consequatur est, laborum animi reiciendis commodi fuga labore!
                Dolores sed beatae dolor labore eum nostrum odio sit pariatur modi voluptas velit voluptatum cumque
                veritatis animi, quaerat vel similique excepturi, harum molestias dolore, porro sequi? Sed temporibus ad
                culpa.
                Sed consectetur quas iste voluptatibus. Blanditiis, earum accusamus dolore, reprehenderit, ut qui nisi
                doloribus dolorum eos tenetur quidem quisquam ex nemo labore aliquid maxime eum sequi placeat molestias
                libero praesentium.
                Ducimus placeat corrupti, in quibusdam, animi quidem dolorum facere eaque, repudiandae voluptate
                blanditiis saepe sint omnis exercitationem quae! Ducimus, qui excepturi delectus facere laborum iusto
                optio eius iste fugit facilis.
                Sint quaerat atque magnam facere ducimus doloribus nisi et tempore officiis placeat, velit eius suscipit
                minus corporis? Eligendi obcaecati modi provident voluptates laborum repellendus, vel velit expedita
                aperiam assumenda dignissimos.
                Facere assumenda libero porro facilis hic harum reprehenderit sint labore. Aliquam modi facilis possimus
                eos est dolorum, autem necessitatibus nisi eaque placeat quibusdam dicta vitae, totam accusamus nam fuga
                illum!
                Omnis consectetur, expedita cumque illo ex fuga doloremque. Tenetur deserunt ullam nesciunt laborum
                optio explicabo amet minus ratione voluptate? Facilis earum quibusdam non vero nisi illo placeat,
                voluptatibus modi labore!
                Ut consequatur quam qui quia! Expedita eum, odit odio sequi enim ut sit modi illum dolorum explicabo
                exercitationem alias in, nihil eligendi cumque blanditiis molestias nobis, cupiditate libero quidem ab?
            </p>
        </div>
        <div class="about-contenedor-item justify-content">
            <hr>
            <img src="../../../assets/img/rickeditado.png" alt="">
        </div>
    </div>
    


</div>
