<div class="home-main">
    <div class="home-wallpaper">
        <img src="../../../assets/img/Rick-and-morty-2048x857.png" alt="">
    </div>
    <div class="home-content">
        <div class="home-text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur labore ea officiis odit sunt saepe
                quisquam fuga rem aliquam voluptate veniam tempora nisi doloremque, odio dignissimos quis dolore nostrum
                architecto.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate nobis similique temporibus
                recusandae, voluptatum praesentium distinctio quis blanditiis porro ut unde fugiat officia corrupti
                voluptas eos quo aliquid iusto. Accusamus?
            </p>
        </div>
        <div class="home-text">
            <img src="" alt="">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem quaerat minima vel? A repellendus illum ut odit
            earum
            architecto nisi, eaque optio? Ea aspernatur blanditiis temporibus facere, vitae aut? Quas?
        </div>
    </div>
</div>
