.home-main {
  width: 100vw;
  min-height: 100vh;
  background-color: #b0f2c2;
}

.home-wallpaper {
  display: flex;
  justify-content: center;
  width: 100vw;
  margin-bottom: 20px;
}

.home-wallpaper img {
  margin-top: 100px;
  border-radius: 80px;
  width: 90vw;
  height: 400px;
}

.home-content{
width: 100vw;
display: flex;
align-items: center;
flex-direction: column;

}
.home-text{
    text-align: center;
width: 80vw;
/* padding-left: 22px; */

}
