<div class="navbar-main">
    <div class="navbar-logo">
        <img src="../../../../assets/img/rick-original.png" alt="">
        <p class="navbar-texto">Characters of here</p>
    </div>
    <div class="navbar-items">
        <ul class="navbar-items-list">
            <li class="navbar-item" routerLinkActive="active">
                <a href="" routerLink="home">Home</a>
            </li>
            <li class="navbar-item" routerLinkActive="active">
                <a href="" routerLink="search">Search</a>
            </li>
            <li class="navbar-item" routerLinkActive="active">
                <a href="" routerLink="characters">Characters</a>
            </li>
            <li class="navbar-item" routerLinkActive="active">
                <a href="" routerLink="about">About</a>
            </li>
        </ul>
    </div>
</div>
