.navbar-main{
    width: 100vw;
    background-color: #c7f6d4;
    position: fixed;
    display: flex;
    justify-content: space-around;
    top: 0;
    max-height: 75px;
    box-shadow: -1px 4px 7px 0px rgba(0,0,0,0.75);
    
}

.navbar-logo{
    width: 50%;
    display: flex;
    justify-content: start;
} 
.navbar-texto{
    font-size:  2.5rem;
    align-self: center;
}
.navbar-items{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    
}

.navbar-items-list{
    display: flex;
    
}

.navbar-item{
    margin-left: 22px;
    list-style: none;
}

.navbar-item a {
    text-decoration: none;
    color: black;
}
