<div class="card-maincontent">
    <div class="all-cards">
        <div class="card" *ngFor="let character of characters" >
            <div class="card-img">
                <img [src]="character?.image" alt="">
            </div>
            <div class="card-body">
               <div class="card-text">
                    <p class="text-name">Nombre:</p>
                    <p>{{character?.name}}</p>
               </div>
               <p>{{character?.created}}</p>
            </div>
        </div>

    </div>

</div>
